In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['MSFT', 'AAPL']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [3]:
sec_data.tail()

                  MSFT        AAPL
Date
2020-09-17  202.910004  110.339996
2020-09-18  200.389999  106.839996
2020-09-21  202.539993  110.080002
2020-09-22  207.419998  111.809998
2020-09-23  204.509995  110.110001

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
sec_returns

                MSFT      AAPL
Date
2007-01-03       NaN       NaN
2007-01-04 -0.001676  0.021953
2007-01-05 -0.005719 -0.007147
2007-01-08  0.009737  0.004926
2007-01-09  0.001002  0.079800
...              ...       ...
2020-09-17 -0.010491 -0.016092
2020-09-18 -0.012497 -0.032234
2020-09-21  0.010672  0.029875
2020-09-22  0.023808  0.015594
2020-09-23 -0.014129 -0.015321

[3456 rows x 2 columns]

## MSFT

In [6]:
sec_returns['MSFT'].mean()

0.0006443942358261482

In [7]:
sec_returns['MSFT'].mean() * 250

0.16109855895653705

In [8]:
sec_returns['MSFT'].std()

0.017938152503819183

In [9]:
sec_returns['MSFT'].std() * 250 ** 0.5

0.2836270946376044

## AAPL

In [10]:
sec_returns['AAPL'].mean()

0.001085751878298093

In [11]:
sec_returns['AAPL'].mean() * 250

0.2714379695745232

In [12]:
sec_returns['AAPL'].std()

0.020519615483169232

In [13]:
sec_returns['AAPL'].std() * 250 ** 0.5

0.3244436081883562

In [14]:
print (sec_returns['MSFT'].mean() * 250)
print (sec_returns['AAPL'].mean() * 250)

0.16109855895653705
0.2714379695745232

In [15]:
sec_returns['MSFT', 'AAPL'].mean() * 250

KeyError: ('MSFT', 'AAPL')

In [16]:
sec_returns[['MSFT', 'AAPL']].mean() * 250

MSFT    0.161099
AAPL    0.271438
dtype: float64

In [17]:
sec_returns[['MSFT', 'AAPL']].std() * 250 ** 0.5

MSFT    0.283627
AAPL    0.324444
dtype: float64

## Covariance and Correlation

In [18]:
MSFT_var = sec_returns['MSFT'].var() 
MSFT_var

0.00032177731525027443

In [19]:
AAPL_var = sec_returns['AAPL'].var() 
AAPL_var

0.00042105461957711853

In [20]:
MSFT_var_a = sec_returns['MSFT'].var() * 250
MSFT_var_a

0.0804443288125686

In [21]:
AAPL_var_a = sec_returns['AAPL'].var() * 250
AAPL_var_a

0.10526365489427963

In [22]:
cov_matrix = sec_returns.cov()
cov_matrix

          MSFT      AAPL
MSFT  0.000322  0.000199
AAPL  0.000199  0.000421

In [23]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

          MSFT      AAPL
MSFT  0.080444  0.049862
AAPL  0.049862  0.105264

In [24]:
corr_matrix = sec_returns.corr()
corr_matrix

          MSFT      AAPL
MSFT  1.000000  0.541856
AAPL  0.541856  1.000000

## Portfolio Risk

In [25]:
weights = np.array([0.5, 0.5])

Portfolio Variance:

In [26]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.07135807450542889

Portfolio Volatility:

In [27]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
pfolio_vol

0.2671293216878838

In [28]:
print (str(round(pfolio_vol, 5) * 100) + ' %')

26.712999999999997 %

## Diversifiable and Non-Diversifiable Risk of a Portfolio

In [29]:
weights = np.array([0.5, 0.5])

In [30]:
weights[0]

0.5

In [31]:
weights[1]

0.5

Diversifiable Risk:

In [32]:
MSFT_var_a = sec_returns[['MSFT']].var() * 250
MSFT_var_a

MSFT    0.080444
dtype: float64

In [33]:
AAPL_var_a = sec_returns[['AAPL']].var() * 250
AAPL_var_a

AAPL    0.105264
dtype: float64

In [34]:
dr = pfolio_var - (weights[0] ** 2 * MSFT_var_a) - (weights[1] ** 2 * AAPL_var_a)
dr

AAPL   NaN
MSFT   NaN
dtype: float64

In [35]:
float(MSFT_var_a)

0.0804443288125686

In [36]:
MSFT_var_a = sec_returns['MSFT'].var() * 250
MSFT_var_a

0.0804443288125686

In [37]:
AAPL_var_a = sec_returns['AAPL'].var() * 250
AAPL_var_a

0.10526365489427963

In [38]:
dr = pfolio_var - (weights[0] ** 2 * MSFT_var_a) - (weights[1] ** 2 * AAPL_var_a)
dr

0.024931078578716827

In [39]:
print (str(round(dr*100, 3)) + ' %')

2.493 %

Non-Diversifiable Risk:

In [40]:
n_dr_1 = pfolio_var - dr
n_dr_1

0.04642699592671206

In [41]:
n_dr_2 = (weights[0] ** 2 * MSFT_var_a) + (weights[1] ** 2 * AAPL_var_a)
n_dr_2

0.04642699592671206

In [42]:
n_dr_1 == n_dr_2

True